################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/mssql-scripts/v17
/.vs/mssql-scripts/FileContentIndex
/.vs/slnx.sqlite
